#int {
	background-image: url('sea.jpg');
	background-position: center;
	background-attachment: center-right;
	text-align: center;
}
#int1 {
	background-color: #835675;
	text-align: center;
}
#int2 {
	background-color: #810128;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
#int3 {
	background-color: #810128;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
#int4 {
	background-image: url('sea.jpg');
	text-align: center;
}
#int5 {
	background-color: #0b16bf;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 200px;
}
#int6 {
	background-color: #94bfff;
	text-align: center;
}
#int7 {
	background-color: #2d3035;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
#int8 {
	background-color: #8b919a;
	text-align: center;
}
#int9 {
	background-color: #b08400;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
#int10 {
	background-color: #e9d598;
	text-align: center;
}
#tnt {
	background-image: url('beach.jpg');
	/*background-position: center;*/
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}
#tnt1 {
	background-image: url('sss.jpg');
	background-position: center;
	padding-top: 15px;
	text-align: center;
}
body{
	font-family:"Arial",sans-serif;
	font-size:14px;
	color:#fff;
}

a{
	color:#fff;
	text-decoration: none;
}

h1{
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

.slider {
	width:800px;
	height: 500px;
	background: url('emg.jpg');
	background-size: 100%;
	margin: 100px auto;
	animation: slide 20s infinite;
}

@keyframes slide{
	25%{
		background: url('emg1.jpg');
		background-size: 100%;
	}
	50%{
		background: url('emg2.jpg');
		background-size: 100%;
	}
	75%{
		background: url('emg3.jpg');
		background-size: 100%;
	}
	100%{
		background: url('emg4.jpg');
		background-size: 100%;
	}
}
#top {
	width: 800px;
	height: 500px;
	position: relative;
	margin: 50px auto;
}
#slider {
	width: 800px;
	height: 500px;
	position: absolute;
	overflow: hidden;
}
#next {
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: #bebebf;
	position: absolute;
	top: 250px;
	right: 0;
	z-index: 99;
	cursor: pointer;
	opacity: .6;
}
#prev {
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: #bebebf;
	position: absolute;
	top: 250px;
	left: 0;
	z-index: 99;
	cursor: pointer;
	opacity: .6;
}
#top:hover #next {
	opacity: 1;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	
}
#top:hover #prev {
	opacity: 1;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	
}
#tab {
	background-image: url('money.jpg');
	background-size: 100%;
	text-align: center;
}
#mo {
	background-image: url('wall.jpg');
	background-size: 100%;
	border: 5px;
}
.marquee-wrap {
                position: relative;
                display: block;
                overflow: hidden;
                width: 100%;
            }
            .marquee-wrap,
            .marquee-wrap ul {
                margin-left: 0;
                padding-left: 0;
                list-style-type: none;
                background-color: #090e22;
            }
            .marquee-wrap > li {
                display: flex;
                align-items: center;
                width: var(--scroller-size);
                will-change: transform;
                animation: text-scroller 15000ms linear 0ms normal infinite;
                text-indent: 0;
                justify-content: space-around;
                -webkit-transition: all 3000ms linear 0ms;
                -moz-transition: all 3000ms linear 0ms;
                -ms-transition: all 3000ms linear 0ms;
                -o-transition: all 3000ms linear 0ms;
                transition: all 3000ms linear 0ms;
                white-space: nowrap;
            }
            @keyframes text-scroller {
                100% {
                    transform: translateX(calc(var(--scroller-size)*-0.5));
                }
            }
            .marquee-wrap > li:nth-child(2) {
                animation-direction: reverse;
                color: blue;
            }
            .marquee-wrap > li > ul li {
                display: inline-block;
                padding: 0 5vw;
                font-size: 0.8vw;
                color:#fff;
            }
            @media (max-width: 467px) 
            {
                .marquee-wrap > li > ul li {
                    font-size: 3vw;
                }
            }
            :root {
                --scroller-size: 150vw;
            }
            @media only screen and (max-width: 600px) {
                :root {
                    --scroller-size: 200vw;
                }
            }
#tom {
	background-color: #c8c5c2;
}